#master-controls {

}

#master-controls input {
  width: 3em;
}

#keyboard {
  list-style-type: none;
}

#keyboard li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 10px;
}

#keyboard li.note {
  font-size: 2em;
  width: 1em;
}

#keyboard li.hold {
  background-color: black;
  color: white;
}

#keyboard li input {
  width: 2em;
}